.AdminPage .adminpage_header {
    display: block;
}

.AdminPage .AdminPage_logo {
    float: left;
}

.v-tab {
    width: 300px;
}


/* //////////////////////////////////////////////////// */
/* Admin Beacon CSS */
/* //////////////////////////////////////////////////// */
.AdminBeacon .adminbeacon_content{
    display: block;
}

.AdminBeacon .adminbeacon_menubar {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.AdminBeacon .adminbeacon_GoogleMap {
    width: 800px;
    height: 400px;
    float: left;
}

.AdminBeacon .adminbeacon_beaconInfoWrap {
    float: right;
    display: block;
    width: 360px;
}
.AdminBeacon .adminbeacon_beaconInfoInput {
    display: block;
    width: 100%;
}

/* //////////////////////////////////////////////////// */
/* Admin Main CSS  */
/* //////////////////////////////////////////////////// */
.AdminMain {
    display: block;
    width: 100%;
    margin-top: 30px;
}

.AdminMain .admin_content.left {
    width: 300px;
    height: 500px;
    float: left;
    text-align: center;
    font-weight: bolder;
}

.admin_content.left .adminmain_word {
    text-align: center;
    display: inline-block;
    margin-top: 100px;
}

.admin_content.left .adminmain_word .adminmain_follow {
    float: left;
    font-size: 4em;
    color: #1F5AFF;
}

.admin_content.left .adminmain_word .adminmain_me {
    float: right;
    padding: 0 20px;
    font-size: 4em;
    color: #707070;
}

.admin_content.left .adminmain_explain {
    color: #707070;
    margin-top: 20px;
}

.admin_content.left .adminmain_member {
    color: #122AA3;
    margin-top: 50px;
}

.admin_content.left .btn_primary {
    background-color: #122AA3;
    color: white;
    margin-top: 50px;
    border-radius: 50px;
}

.admin_content.left .btn_primary:hover {
    background-color: #FF2424;
}

.AdminMain .admin_content.right {
    float: right;
    width: 850px;
    height: 400px;
    border-radius: 100px;
    background-image: url(../img/adminMain_img.png);
    background-repeat: no-repeat;
    background-size: none;
}

/* //////////////////////////////////////////////////// */
/* Beacon Control Button CSS  */
/* //////////////////////////////////////////////////// */
.BeaconControlButton{
    display: block;
    width: 100%;
    height: 300px;
    text-align: center;
}
.BeaconControlButton h1{
    margin: 20px;
    margin-top: 100px;
    color:  #1F5AFF;
}
.BeaconControlButton .beaconcontrolbutton_explain {
    font-weight: bolder;
    color:  #707070;
}

.BeaconControlButton .beaconcontrolbutton_beaconInfoWrap {
    width: 100%;
}
.BeaconControlButton .beaconcontrolbutton_button {
    margin-top: 30px;
}
.BeaconControlButton .beaconcontrolbutton.btn_primary {
    background-color: #1F5AFF;
    color: white;
    width: 200px;
    margin: 0 10px;
    border-radius: 30px;
}

.BeaconControlButton .beaconcontrolbutton_showBeaconButton {
    margin: 0 10px;
}

/* /////////////////////////////////////////////////// */
/* Beacon Info Button CSS  */
/* /////////////////////////////////////////////////// */

.BeaconInfoButton {
    display: block;
    width: 100%;
    height: 300px;
    text-align: center;
}

.BeaconInfoButton h1{
    color:  #1F5AFF;
    margin-top: 100px;
}
.BeaconInfoButton p{
    color:  #1F5AFF;
    font-weight: bolder;
    margin-top :10px;
    font-size: 2em;
}

.BeaconInfoButton .beaconInfobutton_explain {
    font-weight: bolder;
    margin-top :30px;
    color:  #707070;
}

.BeaconInfoButton .beaconInfobutton {
    margin-top: 30px;
}
.BeaconInfoButton .beaconInfobutton.btn_primary {
    background-color: #1F5AFF;
    color: white;
    margin: 20px 10px;
    border-radius: 30px;
}

/* /////////////////////////////////////////////////// */
/* Beacon Info  CSS  */
/* /////////////////////////////////////////////////// */

.BeaconInfo {
    display: block;
    width: 100%;
}
.BeaconInfo h1{
    line-height: 80px;
    text-align: center;
}
.beaconinfo_showBeaconInfo {
    width: 100%;
    margin-top: 10px;
    background-color: wheat;
    text-align: center;
    font-weight: bold;
}
.beaconinfo_showBeaconInfo {
    width: 700px;
    margin: 0 auto;
    border: solid 1px;
    border-collapse: collapse;
}
.beaconinfo_showBeaconInfo thead{
    background-color:#BBDEFB;
    text-align: center;
}
.beaconinfo_showBeaconInfo td{
    border: solid 1px;
}

/* //////////////////////////////////////////////////// */
/* Beacon Control Info CSS  */
/* //////////////////////////////////////////////////// */
.BeaconControlInfo {
    display: block;
    width: 100%;
}
.BeaconControlInfo h1{
    line-height: 80px;
    text-align: center;
}
.BeaconControlInfo .beaconcontrolInfo_table{
    width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
}
.beaconcontrolInfo_table thead{
    background-color:#BBDEFB;
    text-align: center;
}
.beaconcontrolInfo_table td{
    border: solid 1px;
}
.beaconcontrolInfo_table .beaconNumber{
    text-align: center;
}
.beaconcontrolInfo_table .beaconInfoUUID{
    width: 200px;
}
.beaconcontrolInfo_table .beaconInfoMajor,
.beaconcontrolInfo_table .beaconInfominor,
.beaconcontrolInfo_table .beaconInfominorGroup{
    width: 50px;
}
.beaconcontrolInfo_table .beaconInfoBeaconScanner{
    width: 100px;
}
.beaconcontrolInfo_table .beaconInfoLat,
.beaconcontrolInfo_table .beaconInfominorLng{
    width: 150px;

}